name: "ESP32 Portero"
version: "1.0.0"
slug: "esp32_portero"
description: "Servidor de audio simple para ESP32 (portero DIY)"
arch:
  - amd64
  - aarch64
  - armv7
startup: services
boot: auto
ports:
  8099/tcp: 8099
options: {}
schema: {}
